# Ignore Maven build output (except the final JAR)

/target/classes
/target/generated-sources
/target/generated-test-sources
/target/maven-archiver
/target/maven-status
/target/surefire-reports
/target/test-classes

## Ignore Git files

.git
.gitignore

## Ignore IDE/editor files

*.iml
.idea/
.vscode/

## Ignore OS files

.DS_Store
Thumbs.db

## Ignore logs

*.log

## Ignore other unnecessary files

*.class

## Allow the final JAR file we need

!target/users-service.jar
